$accent-color: #FF6947;
$border-accent: #D04E31;
$hover-accent: #F5542E;
$primary-color: #353333;
$primary-border: #868282;
$secondary-color: #254127;
$secondary-hover:#2A532C;
$main-color: #FDFEEC;
$section-color: #E2E1CB;
$tabbutton-text-color: #7e755f;
$tabbutton-bg-color: #b8ac8d84;
$tabbutton-border-color: #a0957a;
$clear-grey: #9C8F8C;
