@import "./variables";

.random-products-list{
    &::-webkit-scrollbar {
        width: 2px; 
      }
      
      &::-webkit-scrollbar-track {
        background: transparent; /* color of the tracking area */
        border: none;
    }
      
      &::-webkit-scrollbar-thumb {
        background-color:#35333336; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 1px solid transparent; /* creates padding around scroll thumb */
        cursor: pointer;
        width: 20px;
    }
}


.litle__card{
            
    display: inline-block;
    background-color: #FDFEEC;
    border: 1px solid #353333;
    width: 24vw;
    min-width: 24vw;
    height: auto;
    box-sizing: border-box;
    margin: 0 2.5vw;
    transition: background-color 0.5s ease;
    box-shadow: 0 8px 15px -5px rgba(0, 0, 0, 0.3);
      

    &-content{
        padding: 0.5vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;

        &-header{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            &-title{
                font-weight: 600;
                font-size: 1.5vw;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                margin: 0;
                padding-top: 1vw;
                padding-bottom: 0.5vw;
                text-align: center;
            }
            &-text{
                font-weight: 200;
                font-size: 1.2vw;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                margin: 0;
                padding-bottom: 1.5vw;
            }

        }

        &-product{
            width: 100%;
            height: 15vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;

            &-container{
                width: 15vw;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                overflow: hidden;

                &-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    text-align: center;

                }
            }
        }

        &-infos{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &-top{
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                padding-top: 2vw;

                

            }
            &-bottom{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                padding-top: 1vw;

                &-price{
                    width: 40%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;
                    font-size: 1.8vw;
                    color: #254127;
                    font-weight: 200;
                }

                &-cta{
                    position: relative;
                    width: 60%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;

                    &-btn{
                        width: 75%;
                        height: 3.5vw;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;
                        background-color: #254127;
                        border-radius: 5px;
                        color: #FDFEEC;
                        cursor: pointer;
                        border: 1px solid #254127;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 1.2vw;
                        &:hover{
                            color: #254127;
                            background-color:#25412784;
                            border: 1px solid #254127;
                            font-weight: 800;
                        }


                  
                    
                    }

                }

            }
        }
    }
}

.selected{
    background-color: #254127;
}

.selected .litle__card-content-header-title {
    color: #FDFEEC; 
}

.selected .litle__card-content-header-text {
    color: #FDFEEC; 
}


.selected .litle__card-content-infos-bottom-cta-btn {
    color: #FDFEEC; 
    border: 1px solid #FDFEEC ;
    &:hover{
       background-color: #39643c;
    }
}

.selected .litle__card-content-infos-bottom-cta-line1 {
    background-color: #FDFEEC; 
}

.selected .litle__card-content-infos-bottom-cta-line2 {
    background-color: #FDFEEC; 
}

.selected .litle__card-content-infos-bottom-price {
    color: #FDFEEC; 
}

.selected .litle__card-content-infos-top-btn {
    border:1px solid #254127; 
    background-color: #39643c;
    &:hover{
        color: #FDFEEC;
        font-weight: 200;
    }
}

@media (max-width : 640px ){

    .litle__card{
        width: 50vw;
        min-width: 50vw;

        &-content{
            &-header{
                padding: 2vw 0;
                &-title{
                    font-size: 3vw;

                }
                &-text{
                    font-size: 2.8vw;

                }
            }
            
            &-product{
                height: 32vw;


            &-container{
                width: 32vw;

            }
        }
        &-infos{
            &-top{
                padding-top: 4vw;


                &-btn{
                    font-size: 3vw;
                    padding: 2vw 4.5vw;
            }
        }
        &-bottom{
            padding: 6vw 0 4.5vw 0;
            &-price{
                font-size: 4vw;
                margin: 0;

            }
            &-cta{
                &-btn{
                    height: 100%;
                    font-size: 2.5vw;
                    height: 7vw;
                }

            }

        }
        }
    }
    }
}