.litle__card{
            
    display: inline-block;
    background-color: #FDFEEC;
    border: 1px solid #353333;
    width: 22vw;
    min-width: 22vw;
    height: auto;
    box-sizing: border-box;
    margin: 0 2.5vw;
    transition: background-color 0.5s ease;
    box-shadow: 0 8px 15px -5px rgba(0, 0, 0, 0.3);
      

    &-content{
        padding: 0.5vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;

        &-header{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            &-title{
                font-weight: 600;
                font-size: 1.5vw;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                margin: 0;
                padding-top: 1vw;
                padding-bottom: 0.5vw;
                text-align: center;
            }
            &-text{
                font-weight: 200;
                font-size: 1.2vw;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                margin: 0;
                padding-bottom: 1.5vw;
            }

        }

        &-product{
            width: 100%;
            height: 15vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;

            &-container{
                width: 15vw;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                overflow: hidden;

                &-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    text-align: center;

                }
            }
        }

        &-infos{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &-top{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                padding-top: 2vw;

                &-btn{
                    background-color: #254127;
                        border: 1px solid #254127;
                        color: #FDFEEC !important;
                        text-transform: uppercase;
                        padding: 0.6vw 1.8vw;
                        border-radius: 5px;
                        font-size: 1vw;
                        font-weight: 400;
                        cursor: pointer;

                        &:hover{
                            color: #254127;
                            background-color:#25412784;
                            border: 1px solid #254127;
                            font-weight: 800;
                        }

                }

            }
            &-bottom{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                padding-top: 1vw;

                &-price{
                    width: 40%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;
                    font-size: 1.8vw;
                    color: #254127;
                    font-weight: 200;
                }

                &-cta{
                    position: relative;
                    width: 60%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;

                    &-btn{
                        position: relative;
                        width: 75%;
                        height: 3.5vw;
                        display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;

                        &-text{
                            width: 100%;
                            height: 100%;
                            border: 1px solid #353333;
                            font-size: 1vw;
                            text-transform: uppercase;
                            background-color: transparent;
                            cursor: pointer;

                            &:hover{
                                background-color: #353333;
                                color: #FDFEEC;
                            }


                        }

                        &-line1{
                            position: absolute;
                            height: 1px;
                            width: 3vw;
                            top: 50%;
                            left: -15%;
                            background-color: #353333;
                        }
                        &-line2{
                            position: absolute;
                            top: 50%;
                            right: -15%;
                            height: 1px;
                            width: 3vw;
                            background-color: #353333;
                        }

                    
                    }

                }

            }
        }
    }
}

.selected{
    background-color: #254127;
}

.selected .litle__card-content-header-title {
    color: #FDFEEC; 
}

.selected .litle__card-content-header-text {
    color: #FDFEEC; 
}


.selected .litle__card-content-infos-bottom-cta-btn {
    color: #FDFEEC; 
    border: 1px solid #FDFEEC ;
    &:hover{
       background-color: #39643c;
    }
}

.selected .litle__card-content-infos-bottom-cta-line1 {
    background-color: #FDFEEC; 
}

.selected .litle__card-content-infos-bottom-cta-line2 {
    background-color: #FDFEEC; 
}

.selected .litle__card-content-infos-bottom-price {
    color: #FDFEEC; 
}

.selected .litle__card-content-infos-top-btn {
    border:1px solid #254127; 
    background-color: #39643c;
    &:hover{
        color: #FDFEEC;
        font-weight: 200;
    }
}

@media (max-width : 640px ){

    .litle__card{
        width: 35vw;
        min-width: 35vw;

        &-content{
            &-header{
                padding: 2vw 0;
                &-title{
                    font-size: 2vw;

                }
                &-text{
                    font-size: 1.8vw;

                }
            }
            
            &-product{
                height: 22vw;


            &-container{
                width: 22vw;

            }
        }
        &-infos{
            &-top{
                padding-top: 3vw;


                &-btn{
                    font-size: 2vw;
                    padding: 1vw 2.5vw;
            }
        }
        &-bottom{
            padding: 4vw 0 2.5vw 0;
            &-price{
                font-size: 3vw;
                margin: 0;

            }
            &-cta{
                &-btn{
                    height: 100%;

                    &-text{
                        font-size: 1.8vw;

                    }
                    &-line1{
                        width: 4vw;
    
                    }
                    &-line2{
                        width: 4vw;
    
                    }
                }

            }

        }
        }
    }
    }
}