@import "./variables";

.product__card{
            
    display: inline-block;
    background-color: #FDFEEC;
    border: 1px solid #353333;
    width: 23vw;
    min-width: 300px;
    height: auto;
    box-sizing: border-box;
    margin: 0 1.5vw;
    transition: background-color 0.1s ease;
    box-shadow: 0 8px 15px -5px rgba(0, 0, 0, 0.3);
    &:hover{
        background-color: $card-hover;
    }
      

    &-content{
        padding: 1vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;

        &-header{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            &-title{
                color: $primary-color;
                font-weight: 600;
                font-size: 1.5vw;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                margin: 0;
                padding: 1vw;
                text-align: center;
            }
            &-text{
                color: $primary-color;
                font-weight: 200;
                font-size: 1.3vw;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                margin: 0;
                padding-bottom: 1vw;
            }

        }

        &-product{
            width: 100%;
            height: 200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;

            &-container{
                width: 77%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                overflow: hidden;

                &-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    text-align: center;

                }
            }
        }

        &-infos{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 30px;

            &-top{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                &-btn{
                    background-color: #254127;
                        border: 1px solid #254127;
                        color: #FDFEEC;
                        text-transform: uppercase;
                        padding: 1vw 2vw;
                        border-radius: 5px;
                        font-size: 1.2vw;
                        font-weight: 400;
                        cursor: pointer;

                        &:hover{
                            color: #254127;
                            background-color:#25412784;
                            border: 1px solid #254127;
                            font-weight: 800;
                        }

                }

            }
            &-bottom{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                padding: 2.5vw 0 1.5vw 0;

                &-price{
                    width: 40%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;
                    font-size: 2vw;
                    color: #254127;
                    font-weight: 200;
                    margin:0;
                }

                &-cta{
                    position: relative;
                    width: 60%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;

                    &-btn{
                        position: relative;
                        width: 80%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;

                        &-text{

                            width: 100%;
                            height: 100%;
                            border: 1px solid #353333;
                            font-size: 1.3vw;
                            text-transform: uppercase;
                            background-color: transparent;
                            cursor: pointer;
                            color: #353333;

                            &:hover{
                                background-color: #353333;
                                color: #FDFEEC;
                            }

                        }
                        &-line1{
                            position: absolute;
                            top: 50%;
                            left: -15%;
                            height: 1px;
                            width: 35px;
                            background-color: #353333;
                        }
                        &-line2{
                            position: absolute;
                            top: 50%;
                            right: -15%;
                            height: 1px;
                            width: 35px;
                            background-color: #353333;
                        }

                    
                    }
                }

            }
        }
    }
}

.selected{
    background-color: #254127;
}

.selected .product__card-content-header-title {
    color: #FDFEEC; 
}

.selected .product__card-content-header-text {
    color: #FDFEEC; 
}


.selected .product__card-content-infos-bottom-cta-btn-text {
    color: #FDFEEC; 
    border: 1px solid #FDFEEC ;
    &:hover{
       background-color: #39643c;
    }
}

.selected .product__card-content-infos-bottom-cta-btn-line1 {
    background-color: #FDFEEC; 
}

.selected .product__card-content-infos-bottom-cta-btn-line2 {
    background-color: #FDFEEC; 
}

.selected .product__card-content-infos-bottom-price {
    color: #FDFEEC; 
}

.selected .product__card-content-infos-top-btn {
    border:1px solid #254127; 
    background-color: #39643c;
    &:hover{
        color: #FDFEEC;
        font-weight: 200;
    }
}

@media (min-width : 640px ) and (max-width : 768px) {

    .product__card{
        width: 55vw;
        min-width: 55vw;
        margin: 3vw;

        &-content{
            &-header{
                padding: 2vw 0;
                &-title{
                    font-size: 3.5vw;

                }
                &-text{
                    font-size: 3vw;

                }
            }
            
            &-product{
                height: 40vw;


            &-container{
                width: 40vw;

            }
        }
        &-infos{
            &-top{
                padding-top: 5.5vw;


                &-btn{
                    font-size: 3.5vw;
                    padding: 2.5vw 5.2vw;
            }
        }
        &-bottom{
            padding: 7.5vw 0 5vw 0;
            &-price{
                font-size: 4.5vw;
                margin: 0;

            }
            &-cta{
                &-btn{
                    height: 100%;

                    &-text{
                        font-size: 3.5vw;

                    }
                    &-line1{
                        width: 5.5vw;
    
                    }
                    &-line2{
                        width: 5.5vw;
    
                    }
                }

            }

        }
        }
    }
    }
}

@media (max-width : 640px ){

    .product__card{
        width: 65vw;
        min-width: 65vw;
        margin: 3vw;

        &-content{
            &-header{
                padding: 2vw 0;
                &-title{
                    font-size: 4.5vw;

                }
                &-text{
                    font-size: 4vw;

                }
            }
            
            &-product{
                height: 40vw;


            &-container{
                width: 40vw;

            }
        }
        &-infos{
            &-top{
                padding-top: 0;


                &-btn{
                    font-size: 3.5vw;
                    padding: 2.5vw 5.2vw;
            }
        }
        &-bottom{
            padding: 7.5vw 0 5vw 0;
            &-price{
                font-size: 4.5vw;
                margin: 0;

            }
            &-cta{
                &-btn{
                    height: 100%;

                    &-text{
                        font-size: 3.5vw;

                    }
                    &-line1{
                        width: 5.5vw;
    
                    }
                    &-line2{
                        width: 5.5vw;
    
                    }
                }

            }

        }
        }
    }
    }
}