@tailwindcss base;
@tailwind components;
@tailwind utilities;
@import "./styles/variables";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  background-color: #fdfeec;
}

body {
  margin: 0 !important;
}

main {
  padding: 0 !important;
}

.kodchasan {
  font-family: var(--font-kodchasan);
}

.judson {
  font-family: var(--font-judson);
}

.chakra {
  font-family: var(--font-chakra);
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.button-inactive {
  background-color: #962800 !important;
  color: #ffe1d6 !important;
  border: 1px solid #7a2100 !important;
  font-weight: 400 !important;
  &:hover {
    color: #ffe1d6 !important;
    font-weight: 400 !important;
    cursor: default;
  }
}

.active-tab-class {
  color: $secondary-color !important;
  background-color: $green-hover !important;
  border: 1px solid $secondary-color !important;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre interne pour l'effet enfoncé */
}

.rounded-bottom {
  //border-radius: 0% 0% 49% 51% / 25% 25% 34% 35%;
  //border-radius: 0% 0% 49% 50% / 25% 25% 20% 20%;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}


/*

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/
